.alarm-list-title{
    color: white;
    text-align: left;
    padding: 20px;
}
.alarm-list-parent{
    position: relative;
    max-width: 400px;
    height: 410px;
    top: 50%;
    left: 50%;
    width: 100%;
    background: rgba(46, 48, 71, 0.7);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
    transition: 500ms ease-in-out;

}
.alarm-list-parent:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 20px rgba(46, 48, 71, 0.7);
    transition: 500ms ease-in-out;

}
.alarm-list-parent:active {
    cursor: move;
    user-select: none;
}
.card-wrapper {
    position: relative;
    display : block;
}