@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after {
    /*font-size: 100%; !* Helps with accessibility *!*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

body {
    flex-grow: 1;
}

html {
    font-size: 62.5%;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}