/* This css module styles the percent increase calculator */
body {
    color: white;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
