/* This css module styles the enrollment page */

body {
    overflow: hidden;
    background-color: #2E3047;
    background-position: center;
    color: white;
}

/* Styles the image tags */
#enrollmentPageImg {

    z-index: -1;
}

/* All inputs will be styled as follows */

input {
    background-color: transparent;
    border: transparent;
    padding-top: 0px;
    padding-bottom: 2px;

}



/* General positioning of form */
#form{
    position: absolute;
    left:37%;
    top:23%;
}

/* Positioning of each field */

.email{
    position: relative;
}

.user{
    position: relative;
    top:19px;
}

.pass{
    position: relative;
    top: 26px;
}

.passc{
    position: relative;
    top:31px;
}

.SignUp{

    position: absolute;
    left: 50%;
    top:20%;
}

h2 {
    font-size: 16px;;
}