/* This css module styles the enrollment page */

body {
    overflow: hidden;

    background-color: #2E3047;
    background-position: center;
    color: white;
}

/* Styles the image tags */
#enrollmentPageImg {

    z-index: -1;
}

/* Styles the textual tags */

input {
    background-color: transparent;
    border: transparent;
    padding-top: 0px;
    padding-bottom: 2px;

}



/* General positioning of form */
#form{
    position: absolute;
    left:37%;
    top:27%;
}

#user{
    position: relative;
    top:38px;
}

#pass{
    position: relative;
    top: 75px;
}

#passc{
    position: relative;
    top:112px;
}

h2 {
    font-size: 16px;
}

h1{
    position: absolute;
    left: 50%;
    top:20%;
}