/* This css module styles the enrollment page */

body {
    font-family: "Lexend", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;

    color: #FFFFFF;
}


#enrollmentPageImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#enrollmentFormImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    color: white;
}

#signUp {
    position: absolute;

    top: 10%;
    left: 43.5%;

    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.05em;
}

#enrollmentForm {
    position: absolute;
    left: 40%;
    margin-top: 8.6%;
}

#createAccountBtn {
    position: absolute;
    width: 194px;
    height: 35px;

    background: linear-gradient(94.57deg, #3BBA9C -32.58%, #FFFFFF 221.52%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#accountExistsBtn {
    position: absolute;
    width: 201px;
    height: 16px;

    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;


    display: flex;
    align-items: center;
    text-align: center;
    bottom: -27%;

    color: #3BBA9C;

    border:none;
    background:none;
    outline:none;
}

input {
    position: relative;
    top: 8px;
    background-color: transparent;
    border-color: transparent;
}

html {
    background: url("/images/Enrollment/background.png" ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
