/* This css module styles the login page */
#login {
    position: relative;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.15em;
    padding-top: 100px;

    color: #FFFFFF;


}

body {
    background-color: #343333;
    color: white;
    overflow: hidden;
}

/* define style for the overlay */
#form {
    position: fixed;
    background-image: url("/images/Login/backgroundForm.png");
    width: 1097px;
    height: 642px;
    margin: auto;
    align-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-size: 14px;
}

/* define the style within the overlay */
#info {
    position: relative;
    margin: auto;
    width: 50%;
}

#email {
    position: relative;
    font-weight: normal;
}

#password {
    font-weight: normal;
}


#formBox {
    position: relative;
    width: 450px;
    height: 250px;

    top:-3vh;
    left: 33.3%;
    z-index: -1;
}

/* Defines the style for the three images on the page */
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

#backgroundSymbol {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    z-index: 0;
}

#backgroundForm {
    position: absolute;
    left: 25%;
    z-index:-1
}

/* Defines the styles for the button on the page */
#signIn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 35px;
    background: linear-gradient(94.57deg, #3BBA9C -32.58%, #FFFFFF 221.52%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
    border: none;

    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: white;
    letter-spacing: 2px;
    margin: 40px auto 40px;

}

#signIn:hover {
    background: linear-gradient(94.57deg, #9EECD9 -32.58%, #3BBA9C 221.52%);
}

#signIn:active {
    background: linear-gradient(94.57deg, #8DDBC8 -32.58%, #2AA98B 221.52%);
}

input{
    color: white;
    font-size: 16px;

    border: none transparent;
    background: transparent none;
    outline:none;
}

p {
    letter-spacing: 0.075em;
}

#registerNow {
    color: #3BBA9C;
}


hr{
    position: relative;
}