/* This css module styles the login page */

body {
    background-color: #343333;
    color: white;
}

/* Styles the image tag */
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#backgroundSymbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    z-index: 0;
}

#backgroundForm {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    z-index: 1;
}

