/* This css module styles the percent increase calculator */
body {
    color: white;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.mint {
    position: absolute;
    width: 15px;
    height: 15px;

    /* Mint */

    background: #3BBA9C;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
}

.yellow {
    position: absolute;
    top: 20%;
    width: 15px;
    height: 15px;

    /* Orange */

    background: #FFAB45;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
}
