/* This css module represents the general styling for each page */

body {
    overflow-x: hidden ;
}

/* Styles the image tag */
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#sidePanel {
    position: absolute;
    width: 117px;
    height: 90vh;
    color: #2E3047;
    bottom: 0;
    left: 0;
}

.sideButton{
    position: relative;
    height:80px;
    width:100px;
}

#button1{
    position: relative;
    top:-25px;
}

#button2{
    position: absolute;
    top:160px;
    left:8px;
}

#button3{
    position: absolute;
    top:245px;
    left:8px;
}

#button4{
    position: absolute;
    top:330px;
    left:8px;
}

#button5{
    position: absolute;
    top:415px;
    left:8px;
}

#button6{
    position: absolute;
    top:500px;
    left:8px;
}

#noti{
    position:absolute;
    top:-210px;
    left: 700px;
    scale: 7%;
    z-index: 1;
}

#profilePic{
    position: absolute;
    top:-135px;
    left: 75%;
    scale: 20%;
    border-radius: 80%;
    z-index: 0;
}

#topPanel {
    position: absolute;

    top: 0;
    right: 0;
}

/* Styles the textual tags */
#dashboard {
    position: relative;
    top: -12px;
    left:50%;

    font-family: 'Rosarivo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
}
